version: "3"
services:
  db:
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: sample-db
    build:
      dockerfile: Dockerfile
      context: ./database
    ports:
      - 5432:5432
    container_name: database
    volumes:
      - ./db/pgdata:/var/lib/postgresql/data
